html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#mapDiv {
    width: 100%;
    height: 100%;
    position: relative;
}


/*search div*/

#serachDiv {
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 10000;
    border: 1px dotted black;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: #eee;
}


/*esri widgets*/

#legendDiv {
    /*!important is used to override the esri css rule*/
    position: absolute !important;
    left: 10px;
    bottom: 10px;
    /*overflow: scroll;*/
    max-width: 300px;
    max-height: 500px;
    z-index: 10000;
    padding-top: 12px;
    padding-left: 12px;
    border: 1px dotted black;
    background-color: #eee;
}

#homeButtonDiv {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}

#locateButtonDiv {
    position: absolute;
    top: 135px;
    left: 20px;
    z-index: 50;
}


/*override esri.css scalebar style*/

.scalebar_bottom-right {
    right: 150px !important;
}
